body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7bc1b2;
}


.image-with-text {
    display: inline-flex; 
    align-items: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}


.image {
    width: auto;
    height: 80px;
    margin-left: 30px; 
    margin-right:20px;
}

.image-size {
    width: 50px;
    height: 50px;
}

.title {
    font-weight: bolder;
    font-size: 50px;
    color: #f96c6c;
}

.white-rectangle {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    width: 90%;
    border-radius: 30px;
    background-color: white;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub_title {
    margin-left: 50px;
    margin-top: 30px;
    color:#7bc1b2;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.button {
    margin-top:0px;
    display: flex; 
    align-items: center; 
    padding: 10px 0; 
    background-color: white;
    color: black;
    border: #7bc1b2;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line {
    border-top: 2px solid #7bc1b2; 
}
.line-bottom {
    border-top: 2px solid #7bc1b2; 
}

.button:hover {
    background-color: #f4aaaa;
}

.button img {
    margin-right: 30px;
}

.content{
    color:#7bc1b2;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}

.content-margin {
    margin-left: 4vw;
}

.container-cover {
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-song {
    margin-left:0px;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container-genre {
    margin-left:10px;
    margin-right: 0px;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right:10px;
}

.delete-img {
    margin-left:20px;
    width: 9vw;
    display: flex;
    justify-content:center;
    align-items: center; 
}

.add-img {
    padding:0px;
    width: 9vw;
    display: flex;
    justify-content: left;
    align-items: center; 
    margin-right:10px;
}

.delete-img img,
.add-img img {
    cursor: pointer;
    transition: filter 0.3s ease; 
}

.delete-img img:hover,
.add-img img:hover {
    filter: brightness(0.8);
}

.add-margin {
    margin-bottom: 30px;
}

.small-button {
    position: fixed; /* 화면 고정 위치로 설정 */
    top: 60px; /* 화면 위에서 30px 떨어진 위치로 설정 */
    right: 8vw; /* 화면 오른쪽에서 20px 떨어진 위치로 설정 */
    background-color: #f96c6c;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    z-index: 1; /* 다른 요소 위에 표시하기 위한 z-index 설정 */
}

.small-button:hover {
    filter: brightness(0.8);
}

